{% extends "layout.html" %}

{% block content %}


<section class="mb-4">
  <h2>Victory</h2>
  <p>Columns of stone surround a gilded chest. Riches glimmer within your grasp.</p>
</section>

<div class="row">
  <div class="col-6 text-start">
    <form action="/intro" method="post">
      <button type="submit" class="btn btn-dark w-100">
        Play Again
      </button>
    </form>
  </div>
  <div class="col-6 text-end">
    <form action="/exit" method="get">
      <button type="submit" class="btn btn-outline-dark w-100">
        Exit Game
      </button>
    </form>
  </div>
</div>
{% endblock %}